<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
안녕 ??

<br>
<p>리스트 표시</p>
{% for l in mylist %}
    {{ l }}
{% endfor %}
<br>
<a href="{% url 'freeboard:insert_free_board' %}">클릭</a>
<a href="{% url 'freeboard:freeboard_view' %}">자유게시판뷰</a>
<a href="{% url 'freeboard:jstest' %}">지수페이지</a>
</body>
</html>