<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Freeboard</title>
</head>
<body>
{% for board in freeboard_list %}
    제목 : {{  board.subject }}
    <br>
    내용 : {{  board.content }}
    <br>
{% endfor %}
</body>
</html>